

    <!-- <div class="left-margin">

    </div> -->
  <main class="find-setup-main-container">

    <div class="find-setup-middle">
      <div class="find-setup-wrapper">

        <div class="inner-left">

        </div>
        <div class="inn-right">

        </div>
        <button type="button" ui-sref="home">Home</button>
        <button type="button" name="find" ui-sref="findgame">Find Game</button>
        <button type="button" name="setup" ui-sref="setupgame">Set Up Game</button>

      </div>

    </div>
  </main>
    <!-- <div class="right-margin">

    </div> -->
